body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

#app {
  margin: auto;
  text-align: center;
}

/* @font-face {
  font-family: "Circular";
  src: local("AssistantRegular"),
    url("./fonts/assistant.regular.ttf") format("truetype");
  font-weight: normal;
} */
